<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <main class="page404">

        <div class="error-404">
            <h1>
                Oops!
            </h1>
            <h2>
                500 Some error occured
            </h2>
            <p>
               We areworking on fixing this,<br /> Sorry for the inconvenience!
                <p>
                    <div class="">
                        <a href="/" class="btn btn-404 btn-lg">
                            Take Me Home
                        </a>
                    </div>
        </div>

    </main>
    <%- include('./includes/foot.ejs') %>
