body {
    background: rgba(5, 56, 110, 1);
    color: #fff;
    /* background: url('../img/carwash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    position: relative;
    margin: 0;
    padding: 0;

}

.slim {
    font-weight: 200;
}

.text-orange {
    color: orangered;
}



.nav-link.btn.btn-sm {
    /* background: #fff; */
    color: rgba(5, 56, 110, 1);
    border: none;
    border: 2px solid rgba(5, 56, 110, 1);

}

.fa-fw {

    font-size: 1.4em;

}


.main-text {
    color: #333;
}

.price-text {
    font-size: 1.8em;
    color: rgba(5, 56, 110, 1);

}

.no-border {
    border: none !important;
}

.py-10 {
    padding: 18px 0;
}

.pl-10 {
    padding-left: 2rem;
}

.pr-10 {
    padding-right: 2rem;
}

.pr-7 {
    padding-right: 1.2rem;
}

.w-5 {
    padding: 0;
    margin: 0;
    width: 89%;
    margin: 0 auto;

}

.mt-10 {
    margin-top: 22.9px;
}

.card-link {

    display: block;

}

.card-price {
    background: orangered;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}


.text-upper {
    text-transform: uppercase;
}

.card-price>a {
    /* font-size: 1.8em; */
    color: #fff;
}

.card-box {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 290px;
    margin: 1rem 0;
    position: relative;
    width: 230px;
    box-sizing: border-box;
}

.cart-delete {
    position: absolute;
    bottom: 0;
    right: 0;

}

.cart-product {
    line-height: 1.2;
    font-weight: 500;
    font-size: 1.75em;
    color: #333;
    margin: 0;
    padding: 0;
}

.cart-quantity {
    line-height: 1.8;
    font-weight: 300;
    font-size: 1.15em;
    color: #333;
    margin: 0;
    padding: 0;
}

a.card-price:hover,
button.card-price:hover {
    font-size: 1.2em;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}

.form-block {
    display: block;
}

.cart-price {
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.45em;
    color: rgba(5, 56, 110, 1);
    margin: 0;
    padding: 0;
}

.cart-btn {
    padding: 0.2rem 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-top-left-radius: 2px;
}

.card-cart {
    background: #fff;
    border-radius: 2px;
    display: block;
    max-width: 760px;
    margin: 1rem auto;
    position: relative;

    box-sizing: border-box;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.login-input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 1.3rem;
    width: 450px;

}

.signup-input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 1.3rem;



}

.loginpage {
    display: flex;
    justify-content: center;
    align-content: center;

}

.error-message {
    padding: 1.2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 0.5rem;
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#callout-box,
#inhouse-box,
#drivethrough-box {
    position: relative;
}

#total-price {

    padding: 0.5em 0.85em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    display: inline-block;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.invalid {
    outline: 2px solid red !important;
}


#callout-box,
#inhouse-box,
#drivethrough-box,
#callout-data,
#inhouse-data,
#drivethrough-data,
#service-data {
    display: none;
}

.notice {
    padding: 15px;
    background: purple;
    display: none;

}

.client-info {
    margin: 0;
    /* padding: 0.8em 0 0 4.55em; */

    padding: 15px;
    background: purple;
    display: inline-block;


}

.interior-service {
    padding-bottom: 2rem;
}

.home-form-container {
    max-width: 700px;
    margin: 0 auto;
}


.form-control {
    border: none;
    border-radius: 1px;
    background: #f8f9fa;

}


.pay-btn {
    margin: 0.7rem 0;
    background: orange;
    color: #fff;
    border-radius: 0;
}

.mr-15 {
    margin-left: 15px;
}

.footer {
    position: absolute;
    bottom: -45vh;
    left: 10%;
}

@media(min-width: 570px) {
    .cart-btn {
        padding: 0.8rem 0.9rem;
        font-size: 1.6rem;
        cursor: pointer;
        border-top-left-radius: 0px;
    }
}

@media(max-width: 460px) {
    .login-input {

        width: 340px;

    }


    .client-info {

        padding-left: 1.70em;
    }
}